body{
  padding: 0;
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

h2{
  position: relative;
  padding-bottom: 0.5rem;
}

h2::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 3%;
  height: 0.3rem;
  background-color: #023453b7;
  border-radius: 15px;
  left: 2%;
}
/* Navbar */
.navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 15rem;
  background-color: #93c021;
}
.navbar-logo img{
  width: 40%;
}

.links-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.links-container li {
  list-style: none;
}

.links-container a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFF;
  padding-bottom: 0.2rem;
  margin-left: 5rem;
}
.links-container a:hover{
  border-bottom: 3px solid #FFF;  
}

/* Prueba */
.prueba-container{
  padding: 5rem 15rem;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}

.prueba-titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.prueba-container h1{
  text-align: center;
  font-size: 3rem;
  color: #311905;
}

.suma-principal{
  background-color: #ADC8D9;
  width: 100%;
  padding: 3rem;
  padding-bottom: 5rem;
  border-bottom: 2px solid #16a6ff;
  border-radius: 20px 20px 0 0;
  margin: 3rem auto;
}
.suma-principal span{
  color: #023453;
}

.suma-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.operaciones{
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #003d62;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.operaciones:hover{
  box-shadow: 0px 0px 23px 4px #395d74a8;
}

.operaciones button {
  background-color: #04790ac7;
  padding: 0.8rem 2.5rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  text-transform: uppercase;
  position: relative;
  transition: all .4s ease-in-out;
  border-radius: 20px;
  border: 2px solid #04790ac7;
}

.operaciones button:hover{
  border: 2px solid white;
}

.suma-resultado{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.suma-resultado p{
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #003d62;
}

.suma-resultado button{
  background-color: #750909c7;
  padding: 0.8rem 2.5rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  text-transform: uppercase;
  position: relative;
  transition: all .4s ease-in-out;
  border-radius: 20px;
  border: 2px solid #750909c7;
}

.suma-resultado button:hover{
  border: 2px solid white;
}

/* React: Lista Desordenada */
.amarillo, .azul, .rojo, .verde{
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 30px;
}

.amarillo{
  background-color: yellow;
}

.azul{
  background-color: blue;
}

.rojo{
  background-color: red;
}

.verde{
  background-color: green;
}

.react-ejercicio{
  margin-top: 3rem;
}

.react-ejercicio li{
  margin-top: 1.5rem;
}

/* Button star */
.button-star{
  background-color: #e6e6e6;
  padding: 1rem;
  color: #414141;
  text-transform: uppercase;
  border-radius: 30px;
  border: 4px solid #414141;
  box-shadow: 0px 0px 20px 4px #41414165;
  cursor: pointer;
  transition: all .4s ease-in-out;
}
.button-star:hover{
  box-shadow: 0px 0px 30px 4px #494949;
}

.button-border{
  font-size: 2.5rem;
  font-weight: 800;
  padding: 2rem;
  border-radius: 20px;
  border: 2px solid #aaaaaa;
  box-shadow: 0px 0px 3px 3px #41414165;
  background-image: linear-gradient(to bottom, transparent 50%, #d4d4d4 50%);
  transition: all .4s ease-in-out;
}
.button-border:hover{
  color: #8f8f8f;
  box-shadow: 0px 0px 8px 3px #41414165;
  background-image: linear-gradient(to bottom, transparent 50%, #d4d4d496 50%);
}

.button-star svg{
  color: #8f8f8f;
  padding: 0 0.5rem;
}

/* Footer */
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  background-color: #003d62;
  color: #FFF;
  font-size: 1.2rem;
  font-weight: 100;
}

.footer p span{
  font-weight: 800;
}
